

<div>
  <div>
    <h1>
      Find a bathroom near me
    </h1>
  </div>
</div>

<hr>

<div>
 <a href="/add_bathroom">Add a new bathroom </a>

</div>

<div>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>
function initMap() {
  // initiate a new map
  var mapDiv = document.getElementById('map');
  var map = new google.maps.Map(mapDiv);

  // An empty bounds variable for seeding automatic zoom level (bounds of map)
  var bounds = new google.maps.LatLngBounds();

  <%  @locations.each do |place|   %>

  // Make info window for this place
  var infowindow_<%= place.fetch("id") %> = new google.maps.InfoWindow({
    content: "<b><%= place.fetch("name") %></b>" 
  });

  // Make marker for this place
  var marker_<%= place.fetch("id") %> = new google.maps.Marker({
    position: {lat: <%= place.fetch("lat") %>, lng: <%= place.fetch("lng") %>},
    map: map,
    title: "<%= place.fetch("name") %>",
    icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
  });

  // Click to show info window
  marker_<%= place.fetch("id") %>.addListener('click', function() {
    infowindow_<%= place.fetch("id") %>.open(map, marker_<%= place.fetch("id") %>);
  });

  // Add this marker in map bounds
  bounds.extend(new google.maps.LatLng(<%= place.fetch("lat") %>, <%= place.fetch("lng") %>));

  <% end %>

  map.fitBounds(bounds);
};

</script><script src="https://maps.googleapis.com/maps/api/js?key=[GMAPS_KEY]&callback=initMap"
async defer></script>





<hr>
# table of bathrooms #
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Name
        </th>

        <th>
          Ratings
        </th>

        <th>
          Open to public
        </th>
        <th>
          
        </th>
      </tr>

      <% @list_of_bathrooms.each do |a_bathroom| %>
      <tr>
        <td>
          <%= a_bathroom.name %>
        </td>

        <td>
        <% matching_ratings = Rating.where({ :bathroom_id => a_bathroom.id }) %>
        
        <% the_rating = matching_ratings.at(0) %>
        <%= the_rating.overall %>
  
        </td>

        <td>
        <% if a_bathroom.open_to_public == "true" %>
          public
        <%else%>
          private
          <%end%>
        </td>

        <td>
          <a href="/bathrooms/<%= a_bathroom.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
