<div>
  <div>
    <h1>
      Flushie!</h1><h2> Find a bathroom near me</h2>
    
  </div>
</div>

<hr>

<div>
 <a href="/add_bathroom">Add a new bathroom </a>
  <a href="/public">Public Bathrooms </a>
    <a href="/private">Private Bathrooms </a>


</div>

<div>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>
function initMap() {
  // initiate a new map
  var mapDiv = document.getElementById('map');
  var map = new google.maps.Map(mapDiv);

  // An empty bounds variable for seeding automatic zoom level (bounds of map)
  var bounds = new google.maps.LatLngBounds();

  <%  @list_of_bathrooms.each do |place|   %>

    // Make info window for this place
  var infowindow_<%= place.id %> = new google.maps.InfoWindow({
    content: "<b><%= place.name %></b>" 
  });

  // Make marker for this place
  var marker_<%= place.id %> = new google.maps.Marker({
    position: {lat: <%= place.latitude %>, lng: <%= place.longitude %>},
    map: map,
    title: "<%= place.name %>",
    icon: 'http://maps.google.com/mapfiles/ms/icons/pink-dot.png'
  });

  // Click to show info window
  marker_<%= place.id %>.addListener('click', function() {
    infowindow_<%= place.id %>.open(map, marker_<%= place.id %>);
  });

  // Add this marker in map bounds
  bounds.extend(new google.maps.LatLng(<%= place.latitude %>, <%= place.longitude %>));

  <% end %>

  map.fitBounds(bounds);
};

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=@gmaps_key%>&callback=initMap"
async defer></script>



<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Name
        </th>

        <th>
          Overall Ratings
        </th>

        <th>
          Open to public
        </th>

      </tr>

      <% @list_of_bathrooms.each do |a_bathroom| %>
      <tr>
        <td>
        <a href="/bathrooms/<%= a_bathroom.id %>">
          
          <%= a_bathroom.name %></a>
        </td>

        <td>
        
        <% matching_ratings = Rating.where({ :bathroom_id => a_bathroom.id }) %>
        <%list_of_ratings = matching_ratings.order({ :created_at => :desc })%>
        
        <% the_rating = matching_ratings.at(0) %>
        <% if the_rating != nil%>
        <% avg_overall=list_of_ratings.average(:overall)%>
       <%= avg_overall.to_f.round(1) %>
        <% else%>
        No reviews
        <%end%>
  
        </td>

        <td>
        <% if a_bathroom.open_to_public %>
          public
        <%else%>
          private
          <%end%>
        </td>


      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
