<div>
  <div>

      <div>
      <div>

        <a href="/bathrooms">
          Go back
        </a>

        <a href="/delete_bathroom/<%= @the_bathroom.id %>">
          Delete bathroom
        </a>
        <a href="/edit_bathroom/<%= @the_bathroom.id %>">
          Edit bathroom
        </a>
      </div>
    </div>

    <h1>
      <%= @the_bathroom.name %>
    </h1>


<hr>
<table>
  <th> Overall
  </th>
  <th>Cleanliness
  </th>
  <th>Safety
  </th>
  <th>Environment
  </th>
<tr>
  <td>        
    <% matching_ratings = Rating.where({ :bathroom_id => @the_bathroom.id }) %>
    <% the_rating = matching_ratings.at(0) %>
    <%= the_rating.overall %>
  </td>
  <td>
    <% matching_ratings = Rating.where({ :bathroom_id => @the_bathroom.id }) %>
    <% the_rating = matching_ratings.at(0) %>
    <%= the_rating.cleaniness %>
  </td>
  <td>
    <% matching_ratings = Rating.where({ :bathroom_id => @the_bathroom.id }) %>
    <% the_rating = matching_ratings.at(0) %>
    <%= the_rating.safety %>
  </td>
  <td>
    <% matching_ratings = Rating.where({ :bathroom_id => @the_bathroom.id }) %>
    
    <% the_rating = matching_ratings.at(0) %>
    <%= the_rating.environment %>
  </td>
</tr>
</table>

    <dl>
      <dt>
        Address
      </dt>
      <dd>
        <%= @the_bathroom.address %>
      </dd>
      <dt>
        Open to public
      </dt>
      <dd>
       <% if @the_bathroom.open_to_public == "true" %>
          public
        <%else%>
          private
          <%end%>      </dd>

    </dl>
  </div>
</div>

<hr>
<h2> Comments
</h2>
<a href="">Add comments</a>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Ratings
        </th>

        <th>
          User
        </th>

        <th>
          Comments
        </th>
        <th>
          Created at
        </th>

      </tr>

      <% @list_of_comments.each do |a_comment| %>
      <tr>
        <td>
    <% matching_ratings = Rating.where({ :comment_id => a_comment.id }) %>
    <% the_rating = matching_ratings.at(0) %>
    <%= the_rating.overall %>
        </td>

        <td>
          <%= a_comment.user_id %>
        </td>

        <td>
          <%= a_comment.comments %>
        </td>



        <td>
          <%= time_ago_in_words(a_comment.created_at) %> ago
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
