<div>
  <div>

      <div>
      <div>

        <a href="/bathrooms">
          Go back
        </a>

        <a href="/delete_bathroom/<%= @the_bathroom.id %>">
          Delete bathroom
        </a>
        <a href="/edit_bathroom/<%= @the_bathroom.id %>">
          Edit bathroom
        </a>
      </div>
    </div>

    <h1>
      <%= @the_bathroom.name %>
    </h1>


<hr>
<table>
  <th> Overall
  </th>
  <th>Cleanliness
  </th>
  <th>Safety
  </th>
  <th>Environment
  </th>
<tr>
  <td>        
    <% matching_ratings = Rating.where({ :bathroom_id => @the_bathroom.id }) %>
    <% the_rating = matching_ratings.at(0) %>
    <% if the_rating != nil%>
       <%= @avg_overall %>
    <% else%>
        No reviews
    <%end%>
  </td>
  <td>
    <% matching_ratings = Rating.where({ :bathroom_id => @the_bathroom.id }) %>
    <% the_rating = matching_ratings.at(0) %>
    <% if the_rating != nil%>
       <%= @avg_cleanliness %>
    <% else%>
        No reviews
    <%end%>
  
  </td>
  <td>
    <% matching_ratings = Rating.where({ :bathroom_id => @the_bathroom.id }) %>
    <% the_rating = matching_ratings.at(0) %>
    <% if the_rating != nil%>
       <%= @avg_safety %>
    <% else%>
        No reviews
    <%end%>
  </td>
  <td>
    <% matching_ratings = Rating.where({ :bathroom_id => @the_bathroom.id }) %>
    
    <% the_rating = matching_ratings.at(0) %>
    <% if the_rating != nil%>
       <%= @avg_environment %>
    <% else%>
        No reviews
    <%end%>
  </td>
</tr>
</table>

    <dl>
      <dt>
        Address
      </dt>
      <dd>
        <%= @the_bathroom.address %>
      </dd>
      <dt>
        Open to public
      </dt>
      <dd>
       <% if @the_bathroom.open_to_public == "true" %>
          public
        <%else%>
          private
          <%end%>      </dd>

    </dl>
  </div>
</div>

<hr>
<h2> Comments
</h2>
<a href="/add_rating/<%= @the_bathroom.id %>">Rate this bathroom</a>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Ratings
        </th>

        <th>
          User
        </th>

        <th>
          Comments
        </th>
        <th>
        </th>

      </tr>

      <% @list_of_ratings.each do |a_rate| %>
      <tr>
        <td>

    <%= a_rate.overall %>
        </td>

        <td>
          <%= a_rate.user_id %>
        </td>

        <td>
          <%= a_rate.comment %>
        </td>

        <td>
          <a href="/ratings/<%=a_rate.id%>"> Show details</a>
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
