<div>
  <div>
    <h1>
      List of all ratings
    </h1>
  </div>
</div>

<hr>


<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Comment
        </th>

        <th>
          User
        </th>

        <th>
          Cleaniness
        </th>

        <th>
          Safety
        </th>

        <th>
          Bathroom
        </th>

        <th>
          Environment
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_ratings.each do |a_rating| %>
      <tr>
        <td>
          <%= a_rating.id %>
        </td>

        <td>
          <%= a_rating.comment_id %>
        </td>

        <td>
          <%= a_rating.user_id %>
        </td>

        <td>
          <%= a_rating.cleaniness %>
        </td>

        <td>
          <%= a_rating.safety %>
        </td>

        <td>
          <%= a_rating.bathroom_id %>
        </td>

        <td>
          <%= a_rating.environment %>
        </td>

        <td>
          <%= time_ago_in_words(a_rating.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_rating.updated_at) %> ago
        </td>

        <td>
          <a href="/ratings/<%= a_rating.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
